<%= form_with(model: list, class: 'row', id: 'new_list') do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col"><%= form.text_field :name, id: :list_name, class: 'form-control' %></div>
  <% if list.id %>
    <div class="col"><%= link_to 'Link to tasks', controller: 'tasks', action: 'index', listId: list.id  %></div>

  <% end %>
  <div class="col">
    <%= form.submit( class: 'btn btn-primary' ) %>
    <% if list.id %>
      <%= link_to 'Delete' , list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'  %>
    <% end %>
  </div>
<% end %>
