<h1 > Lists  </h1>
<h2> <%= link_to "Your public link", {controller: 'lists', action: 'publicIndex', userId: current_user.id} %> </h2>
<% flash.each do |key, value| %>
  <% if key == 'notice' %>
    <h3 class="text-info" ><%= content_tag :div, value, class: "flash #{key}" %> </h3>
  <% else %>
    <h3 class="text-danger" ><%= content_tag :div, value, class: "flash #{key}" %> </h3>
  <% end %>
<% end %>


<div class="container" >
  <div class="row">
    <div class="col">Name</div>
    <div class="col">Action</div>
  </div>
  <%= render 'form', list: @list %>

  <br>

  <div class="row">
      <div class="col">Name</div>
      <div class="col">Link to tasks</div>
      <div class="col">Action</div>
  </div>

  <% @lists.each do |list| %>
    <% if list.userId == current_user.id  %>
        <%= render 'form', list: list %>
    <% end %>
  <% end %>
</div>


