<%= form_with(model: task, class: 'row', id: 'new_task') do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :listId, id: :task_listId %>
  <div class="col "><%= form.text_field :name, id: :task_name, class: 'form-control' %></div>
  <div class="col "><%= form.text_area :description, id: :task_description, class: 'form-control' %></div>
  <% if task.id %>
    <div class="col "><%= form.check_box :checked, id: :task_checked%></div>
  <% end %>
  <div class="col ">
    <%= form.submit( class: 'btn btn-primary' ) %>
    <% if task.id %>
      <%= link_to 'Delete' , task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'  %>
    <% end %>
  </div>
<% end %>
