<h3 class="text-info" style="float: right;"><%= notice %></h3>

<h1>Tasks by list "<%= @list.name %>" <%= link_to 'Back', lists_path %></h1>

<div class="container" >
  <div class="row">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="col">Done</div>
    <div class="col">Action</div>
  </div>

  <%= render 'form', task: @task %>

  <% @tasks.each do |task| %>
    <% if task.listId == @list.id  %>
        <%= render 'form', task: task %>
    <% end %>
  <% end %>

</div>