<p id="notice"><%= notice %></p>

<h1>Tasks <%= link_to 'Back', lists_path %></h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Checked</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'form', task: @task %>

    <% @tasks.each do |task| %>
    <% if task.listId == @list.id  %>
      <tr>
        <%= render 'form', task: task %>
        <td>  <%= button_to 'Delete' , task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'  %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

